extends navbar

block title
  title Eduasis

block content
  h1.noticias  NEWS 
  .resrsPage-Content
    .resources-box
      each r in resources
        .resource-box
          a.profile-topbar(style='height: 60px;' href=`/users/${r.author}`)
            img.profile-picture(src=`http://localhost:7700/api/users/${r.author}/avatar` style='height: 60px; width: 60px;')
            .profile-name(style='font-size: 20px;')= `${r.author}` 
          .resource-post
            .profile-name(style='font-size: 20px; margin-left: 20px;') Resource
            p(style='font-size: 10px; color: #333') #{time_difference(r.created_date)}
          a.resource1(style='font-size: 30px;' href=`/resources/${r.resource_id}`)= `${r.title}`
      each p in posts  
        .resource-box
          a.profile-topbar(style='height: 60px;' href=`/users/${p.author}`)
            img.profile-picture(src=`http://localhost:7700/api/users/${p.author}/avatar` 'https://www.w3schools.com/w3css/img_avatar3.png' style='height: 60px; width: 60px;')
            .profile-name(style='font-size: 20px;')= `${p.author}`
          .resource-post
            .profile-name(style='font-size: 20px; margin-left: 20px;') Post
          a.resource1(style='font-size: 15px; text-align: center;' href=`/posts/${p.post_id}`)= `${p.content}`.substr(0, 250)