extends navbar.pug

block title
    link(rel='stylesheet' href='/static/css/w3.css')
    link(rel='stylesheet' href='/static/css/materialize.css')
    title Eduasis

block content
  // ------------------------ POST --------------------------------
  .caixinha.w3-card-4
    .post
      .topbar-post
        a(href=`/users/${post.author}`)
          img.profile-picture(src=`http://localhost:7700/api/users/${post.author}/avatar` alt='')
        .profile-name= `${post.author}`
      
      .box-resource-post
        h4 
          a(href=`/resources/${resource.resource_id}`) 
            u= `${resource.title}`
        p #{resource.description}
          img(src='/static/images/Files_archive.png' width='100' height='100' style='float: right;')
          
          
      p(style='font-size: xx-large; margin-left: 50px; margin-right: 50px')= `${post.content}`
    button.w3-button.w3-block.w3-dark-grey(onclick='addComment()')
      i.fa.fa-comment(aria-hidden='true')
      |  Comment
    .w3-container.comments
      span#add-comment(style='display: none;')
        form(method="post" action=`/posts/${post.post_id}/comments`)
          .add-comments
            img.w3-left.profile-picture-comments.w3-margin-right(src=`http://localhost:7700/api/users/${user.username}/avatar` alt='Avatar')
            textarea.add-comment#content(type='text' placeholder='Add a comment' name="message")
            button(class="fa fa-paper-plane" style="margin-left: 10px")
      each c in post.comments 
        .comment
          a(href=`/users/${c.author}`)
            img.w3-left.profile-picture-comments.w3-margin-right(src=`http://localhost:7700/api/users/${c.author}/avatar` alt='Avatar' width='60' height='60' )
            .comment-author= `${c.author}`
          p= `${c.message}`
  script.
    function addComment() {
    var moreText = document.getElementById("add-comment");
    if (moreText.style.display == "none") {
    moreText.style.display = "inline";
    }else{
    moreText.style.display = "none";
    }
    }