extends navbar.pug

block title
  title Edit Profile
  style.
    @media (max-width: 1650px) {
    .doublebox-page-leftBox-button{
    display: none;
    }
    .doublebox-page-leftBox-innerBox{
    justify-content: center;
    height: 20rem;
    }
    .doublebox-page-leftBox{
    height: 27rem;
    }
    }

block content
  form(action=`/users/${user.username}/edit` method='post' enctype="multipart/form-data")
    .doublebox-page-content
      .doublebox-page-leftBox
        .doublebox-page-leftBox-outerBox
          .doublebox-page-leftBox-innerbox
            div
              label(for='fileToUpload')
                if user.avatar_url == ""
                  .profile-pic-edit(style=`background-image: url('http://localhost:7700/storage/avatars/default/default.png')`)
                    span.material-icons camera_alt
                    span Change Image
                else
                  .profile-pic-edit(style=`background-image: url('${user.avatar_url}')`)
                    span.material-icons camera_alt
                    span Change Image
              input#fileToUpload(type='File' name='avatar_img' accept="image/*")
            h1= `${user.username}`
          button.doublebox-page-leftBox-button(type='submit')
            .doublebox-page-leftBox-button-inner
              | Save changes
          
      .doublebox-page-rightBox
        .doublebox-page-rightBox-innerbox
          .doublebox-page-rightBox-innerbox-section-box
            .doublebox-page-rightBox-innerbox-section-box-editTitle
              h1 Email
              .flexFiller
              input#email.edit-form(type='text' placeholder=`${user.email}` name='email')
          .doublebox-page-rightBox-innerbox-section-box
            .doublebox-page-rightBox-innerbox-section-box-editTitle
              h1 Nickname
              .flexFiller
              input#nickname.edit-form(type='text' name='nickname' placeholder=`${user.nickname}`)
          .doublebox-page-rightBox-innerbox-section-box
            .doublebox-page-rightBox-innerbox-section-box-editTitle
              h1 Affiliation
              .flexFiller
              input#affiliation.edit-form(type='text' name='affiliation' placeholder=`${user.affiliation}`)
          button.savechangesbtn(type='submit' value="submit")
            .centerStuff
              h1 Save Changes


