extends navbar

block title
  title= #{resource.title}

block content
  .doublebox-page-content
    .doublebox-page-leftBox
      .doublebox-page-leftBox-outerBox
        .doublebox-page-leftBox-innerbox
          .something(style='justify-content:center; text-align: center;')
            h2= #{resource.title}
            h3= #{resource.author}
            p= Rate: #{resource.rate}
            p= DataTime: #{resource.create_date}
        a.doublebox-page-leftBox-button(href='/html/profile_edit.html')
          .doublebox-page-leftBox-button-inner
            | Download
    .doublebox-page-rightBox
      .doublebox-page-rightBox-innerbox(style='display: block;')
        div(style='width: calc(100% - 5rem);height: calc(100% - 5rem); margin: 2.5rem;')
          h1= #{resource.title}
          h3= #{resource.descripton}
          h1 Files
          h3
            ul
              li File 1
              li File 2
              li File 3
        // <button><i class="fa fa-download" aria-hidden="true"></i> Download</button>
