extends navbar

block title
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title= `${resource.title}`
  style.
    .checked {
    color: orange;
    }

block content
  .doublebox-page-content
    .doublebox-page-leftBox
      .doublebox-page-leftBox-outerBox
        .doublebox-page-leftBox-innerbox
          .something(style='justify-content:center; text-align: center;')
            h2= `${resource.title}`
            h3= `${resource.author}`
            p #{time_difference(resource.created_date)}
            if rate.you_rated == null
              -var star = resource.rate
              form(method="POST" action='/resources/'+resource.resource_id+'/rate')
                .resource-rate
                  .rate
                    input#star5(type='radio' name='value' value='5')
                    label(for='star5' title='5 stars') &starf;
                    input#star4(type='radio' name='value' value='4')
                    label(for='star4' title='4 stars') &starf;
                    input#star3(type='radio' name='value' value='3')
                    label(for='star3' title='3 stars') &starf;
                    input#star2(type='radio' name='value' value='2')
                    label(for='star2' title='2 stars') &starf;
                    input#star1(type='radio' name='value' value='1')
                    label(for='star1' title='1 star') &starf;
                  span.button-rate 
                    button send               
                  span(style='margin-left: 20px; font-size: larger; margin-bottom: 10px;')  rate: #{resource.rate}
            else
              -var star = rate.you_rated
              .resource-rate
                  .rate
                    span
                      if star >= 1
                        span.checked &starf;
                      else 
                        | &starf;
                      if star >= 2
                        span.checked &starf;
                      else 
                        | &starf;
                      if star >= 3
                        span.checked &starf;
                      else 
                        | &starf;
                      if star >= 4
                        span.checked &starf;
                      else 
                        | &starf;
                      if star >= 5
                        span.checked &starf;
                      else 
                        | &starf;
                    span(style='margin-left: 20px; font-size: larger; margin-bottom: 10px;')  rate: #{resource.rate}
        a.doublebox-page-leftBox-button(href=`http://localhost:7700/storage/resources/${resource.resource_id}/${resource.resource_id}.zip`)
          .doublebox-page-leftBox-button-inner
            | Download
        a.doublebox-page-leftBox-button(href=`/new_post?resource_id=${resource.resource_id}`)
          .doublebox-page-leftBox-button-inner
            | Post about this
    .doublebox-page-rightBox
      .doublebox-page-rightBox-innerbox(style='display: block;')
        .doublebox-page-rightBox-innerbox-title
          button.tablinks(onclick="opentab(event, 'Info')") INFO
          button.tablinks(onclick="opentab(event, 'Posts')") POSTS
        #Info.tabcontent.doublebox-page-rightBox-innerbox-content
          div(style='width: calc(100% - 5rem);height: calc(100% - 5rem); margin: 2.5rem;')
            h1 #{resource.title}
            h3 Resourd Id: #{resource.resource_id}
            h3 Type: #{resource.type}
            h4 #{resource.description}
            h1 Files
            h3
              ul
                each file in resource.files
                  li #{file}
        #Posts.tabcontent.doublebox-page-rightBox-innerbox-content(style='display: none;')
          div(style='width: calc(100% - 5rem);height: calc(100% - 5rem); margin: 2.5rem;') 
            each post in posts
              .posts-about-resource
                a(href=`/users/${post.author}`)
                  img.w3-left.w3-circle.w3-margin-right.profile-picture(src=`http://localhost:7700/api/users/${post.author}/avatar` alt='Avatar' width=':60px; height: 60px;')
                p(style='margin-left: 20px')= `${post.content}`

  script.
    function opentab(evt, name) {
    // Declare all variables
    var i, tabcontent, tablinks;
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(name).style.display = "block";
    evt.currentTarget.className += " active";
    }
